:root {
  --main-color: #b92b27;
  --mina-color-darker: #941e1a;
  --white: #ffffff;
  --dropdown-radius: 50px;
}
.text-main-color {
  color: var(--main-color);
}
.border-main-color {
  border-bottom-style: solid;
  border-width: 4px;
  border-color: var(--main-color);
}

.nav-item svg {
  width: 40px;
  height: 40px;
  padding: 5px;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin-left: 25px;
  align-items: center;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.profile {
  width: 45px;
  height: 45px;
  padding: 7px;
}
#button1 {
  border-bottom-left-radius: var(--dropdown-radius);
  border-top-left-radius: var(--dropdown-radius);
  color: white;
  background-color: #b92b27;
}
#button2 {
  border-bottom-right-radius: var(--dropdown-radius);
  border-top-right-radius: var(--dropdown-radius);
  border-left-style: solid;
  border-left-color: rgb(83, 83, 83);
  border-width: 1px;
  color: white;
  background-color: #941e1a;
}
.bg-second-color {
  background-color: rgb(233, 233, 233);
}

#left-list {
  margin-left: 20px;
}
#left-list a {
  text-decoration: none;
  padding: 5px;
  color: gray;
  font-size: 13px;
}
#left-list img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.border-gray {
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-width: 1px;
}
.text-gray-dark {
  color: rgb(117, 117, 117);
}
.hover-dark:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  cursor: pointer;
}
.post-profile {
  width: 55px;
  height: 55px;
  padding: 7px;
}
.post-link {
  color: black;
}
.post-link:hover {
  color: black;
}

.post-footer {
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
}
